@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-back-pattern bg-repeat bg-[length:550px];
    font-family: var(--font-kalameh);
  }

  ul {
    list-style: none;
  }

  .nav-li {
    @apply relative inline-block before:content-[''] before:absolute before:left-0 before:bottom-[-3px] before:w-full before:h-[3px] before:bg-blue before:transform before:scale-x-0 before:origin-right before:rounded-md before:transition-transform before:duration-500 hover:before:scale-x-100 hover:before:origin-left p-2;
  }

  a {
    text-decoration: none;
  }
}