@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    /* font-family: var(--font-champagne-limousines); */
    font-family: var(--font-rubik);
  }

  ul {
    list-style: none;
  }

  .nav-li {
    @apply relative inline-block before:content-[''] before:absolute before:left-0 before:bottom-[-3px] before:w-full before:h-[3px] before:bg-blue before:transform before:scale-x-0 before:origin-right before:rounded-md before:transition-transform before:duration-500 hover:before:scale-x-100 hover:before:origin-left px-2;
  }

  a {
    text-decoration: none;
  }

  .animation-border {
    animation: borderMove 2s linear infinite;
  }

  .animation-pulse {
    animation: pulse 1.5s infinite ease-in-out;
  }

  .clouds {
    @apply bg-clouds bg-cover bg-center relative;
  }

  .clouds::after {
    background-color: black;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
    border-radius: 0.75rem;
    z-index: 20;
  }

  @keyframes borderMove {
    0% {
      left: -20px;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
}
